---
layout: default_style
title: Galería
permalink: /gallery
description: Fotos de nuestros eventos, actividades y comunidad de fe.
---

<div class="gallery-intro">
  <p>Descubre momentos especiales de nuestra comunidad de fe a través de estas imágenes.</p>
</div>

<div class="gallery-grid">
  {% for img in site.data.gallery.general.images %}
  <div class="gallery-item">
    <a href="{{ site.baseurl }}/assets/img/{{ site.data.gallery.general.folder }}/{{ img.file }}" target="_blank">
      <img src="{{ site.baseurl }}/assets/img/{{ site.data.gallery.general.folder }}/{{ img.file }}" alt="{{ img.alt }}" loading="lazy">
    </a>
  </div>
  {% endfor %}
</div>

<h3 class="gallery-section-title">Departamentos</h3>

<div class="gallery-grid">
  {% for img in site.data.gallery.departments.images %}
  <div class="gallery-item">
    <a href="{{ site.baseurl }}/assets/img/{{ site.data.gallery.departments.folder }}/{{ img.file }}" target="_blank">
      <img src="{{ site.baseurl }}/assets/img/{{ site.data.gallery.departments.folder }}/{{ img.file }}" alt="{{ img.alt }}" loading="lazy">
    </a>
  </div>
  {% endfor %}
</div>

<div class="gallery-cta">
  <p>Síguenos en nuestras redes sociales para ver más fotos y videos de nuestras actividades.</p>
  <div class="gallery-social">
    <a href="{{ site.facebook_link }}" target="_blank" class="btn btn-social-fb">
      <i class="fa-brands fa-facebook-f"></i> Facebook
    </a>
    <a href="{{ site.youtube_link }}" target="_blank" class="btn btn-social-yt">
      <i class="fa-brands fa-youtube"></i> YouTube
    </a>
  </div>
</div>
