---
layout: default_style
title: Galeria
permalink: /gallery
description: Fotos de nuestros eventos, actividades y comunidad de fe.
---

<div class="gallery-intro">
  <p>Descubre momentos especiales de nuestra comunidad de fe a traves de estas imagenes.</p>
</div>

<div class="gallery-grid">
  {% assign gallery_images = "slide1.jpg,slide2.jpg,slide3.jpg,slide4.jpg,slide5.jpg,slide6.jpg,slide7.jpg,slide9.jpg" | split: "," %}
  {% for img in gallery_images %}
  <div class="gallery-item">
    <a href="{{ site.baseurl }}/assets/img/slider/{{ img }}" target="_blank">
      <img src="{{ site.baseurl }}/assets/img/slider/{{ img }}" alt="Foto de la iglesia" loading="lazy">
    </a>
  </div>
  {% endfor %}
</div>

<h3 class="gallery-section-title">Departamentos</h3>

<div class="gallery-grid">
  {% assign dept_images = "jovenes_union.jpg,familia_union.jpg,ninhos_union.jpg,musica_union.jpg,salud_union.jpg,multimedia_union.jpg,colportaje_union.jpg,asistencia_social_union.jpg" | split: "," %}
  {% for img in dept_images %}
  <div class="gallery-item">
    <a href="{{ site.baseurl }}/assets/img/departments/{{ img }}" target="_blank">
      <img src="{{ site.baseurl }}/assets/img/departments/{{ img }}" alt="Departamento de la iglesia" loading="lazy">
    </a>
  </div>
  {% endfor %}
</div>

<div class="gallery-cta">
  <p>Siguenos en nuestras redes sociales para ver mas fotos y videos de nuestras actividades.</p>
  <div class="gallery-social">
    <a href="{{ site.facebook_link }}" target="_blank" class="btn btn-social-fb">
      <i class="fa-brands fa-facebook-f"></i> Facebook
    </a>
    <a href="{{ site.youtube_link }}" target="_blank" class="btn btn-social-yt">
      <i class="fa-brands fa-youtube"></i> YouTube
    </a>
  </div>
</div>
