---
layout: default_style
title: Principios de Fe
permalink: /principles
description: |
    <em>Explora los fundamentos de nuestra creencia, basados en la Biblia y
        centrados en la restauración, la transformación y la unidad a través del amor de Dios.
    </em>
    Durante la Asamblea de la Conferencia General en Gotha (Alemania) del 14-20 de julio de 1925.
sidebar_title:
sidebar_content:
animation:
---

<div class="container">
    <div class="row">
        <div class="col-md-3 wow animated fadeInLeft">
            <div class="sidebar">
                <h4>Índice</h4>
                <ul class="list-group">
                    {% for principle in site.data.principles %}
                    <li class="list-group-item"><a href="{{ site.baseurl }}{{ principle.link }}">{{ principle.id }}. {{
                            principle.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9 wow animated fadeInRight">
 <div class="row">
  {% for principle in site.data.principles %}
  <div class="col-md-4">
    <div class="card mb-4">
      <a id="principle{{ principle.id }}" href="{{ site.baseurl }}{{ principle.link }}">
        <img src="{{ site.baseurl }}/assets/img/principles/principle_{{ principle.id }}.png"
             class="card-img-top" alt="Thumbnail for {{ principle.title }}">
        <div class="card-body">
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
        </div>
    </div>
</div>