<nav id="navbar-section" class="navbar navbar-expand-lg navbar-dark navbar-sticky" style="background-color: #0A245E;" role="navigation">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-spy" aria-controls="navbar-spy" aria-expanded="false" aria-label="Alternar navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-spy" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/about.html">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/resources">Recursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact.html">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
