<nav id="navbar-section" class="navbar navbar-expand-lg navbar-dark navbar-sticky" style="background-color: {{ site.navbar_color }};" role="navigation">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-spy" aria-controls="navbar-spy" aria-expanded="false" aria-label="Alternar navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-spy" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nosotros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/about.html">Quienes Somos</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/principles">Principios de Fe</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/ministry">Ministerio</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/committee">Comité ejecutivo</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/departments">Departamentos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Participa
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/volunteering">Voluntariado</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/donations">Donaciones</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/gallery">Galería</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/resources">Recursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact.html">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
