<!doctype html>
<html lang="es">

{% include head.html %}
{% include header.html %}

<body>

  <div class="container">

    <!-- banner image -->
    {% if page.banner%}
    <div class="row container-kamn">
      <img src="{{ site.baseurl }}{{ page.banner }}" class="blog-post img-fluid" alt="Feature-img" width="100%">
    </div>
    {% endif %}

    <!-- section description -->
    <div class="row">
      <div class="services-header">
        <h3 class="services-header-title">{{ page.title }}</h3>
        <p class="services-header-body">
          {{ page.description }}
        </p>
        <hr>
      </div>
    </div>

    <div class="row">
      <!-- side bar -->
      {% if page.sidebar_title and page.sidebar_content%}
      <div class="col-md-3">
        <div class="sidebar">
          <h4>{{ page.sidebar_title }}</h4>
          {{ page.sidebar_content}}
        </div>
      </div>
      {% endif %}

      <!-- content -->
      {% if page.sidebar_title and page.sidebar_content%}
      <div class="col-md-9">
        <div class="row">
          {{ content }}
        </div>
      </div>
      {% else %}

      <div class="col-md-12">
        <div class="row">
          {{ content }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  {% include footer.html %}
  {% include script.html %}
</body>

</html>
