<!doctype html>
<html lang="es">

{% include head.html %}
{% include header.html %}

<body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper">
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-bs-ride="carousel">

                    <!-- Indicators -->
                    <div class="carousel-indicators d-none d-lg-flex">
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <!-- Begin Slide 1 -->
                        <div class="carousel-item active">
                            <img src="{{ site.baseurl }}/assets/img/slider/slide2.jpg" class="d-block w-100" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title d-none d-sm-block">Iglesia Adventista del Séptimo Día</h3>
                                <p class="carousel-body">Movimiento de Reforma</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="carousel-item">
                            <img src="{{ site.baseurl }}/assets/img/slider/slide4.jpg" class="d-block w-100" alt="Image of second carousel" loading="lazy">
                            <div class="carousel-caption">
                                <h3 class="carousel-title d-none d-sm-block">Iglesia Adventista del Séptimo Día</h3>
                                <p class="carousel-body">Movimiento de Reforma</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="carousel-item">
                            <img src="{{ site.baseurl }}/assets/img/slider/slide2.jpg" class="d-block w-100" alt="Image of third carousel" loading="lazy">
                            <div class="carousel-caption">
                                <h3 class="carousel-title d-none d-sm-block">Iglesia Adventista del Séptimo Día</h3>
                                <p class="carousel-body">Movimiento de Reforma</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>

                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Secciones:</h3>
                    <p class="services-header-body"><em>Explora nuestra misión, servicios, ministerios y oportunidades
                            para conectarte y contribuir a nuestra comunidad.</em></p>

                    <hr>
                </div>
            </div>

            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="services-group">
                        <p class="services-icon"><span class="fa-solid fa-book-bible fa-5x"></span></p>
                        <h4 class="services-title">Principios de Fe</h4>
                        <p class="services-body">Nuestros principios de fe son los cimientos que guían nuestras
                            creencias y acciones.</p>
                        <p class="services-more"><a href="{{ site.baseurl }}/principles">Descubre Más</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="services-group">
                        <p class="services-icon"><i class="fa-solid fa-person-praying fa-5x"></i></p>
                        <h4 class="services-title">Ministerio</h4>
                        <p class="services-body">Dedicados a velar por las necesidades espirituales de la congregación.
                        </p>
                        <p class="services-more"><a href="{{ site.baseurl }}/ministry">Descubre Más</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="services-group">
                        <p class="services-icon"><i class="fa-solid fa-sitemap fa-5x"></i></p>
                        <h4 class="services-title">Departamentos</h4>
                        <p class="services-body">Conoce nuestra organizativa y estructura de trabajo.</p>
                        <p class="services-more"><a href="{{ site.baseurl }}/departments">Descubre Más</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 1 -->

            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="services-group">
                        <p class="services-icon"><span class="fa-solid fa-photo-film fa-5x"></span></p>
                        <h4 class="services-title">Galería</h4>
                        <p class="services-body">Explora fotos y videos de nuestros eventos y actividades comunitarias.
                        </p>
                        <p class="services-more"><a href="{{ site.baseurl }}/gallery">Descubre Más</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="services-group">
                        <p class="services-icon"><i class="fa-solid fa-heart fa-5x"></i></p>
                        <h4 class="services-title">Voluntariado</h4>
                        <p class="services-body">Únete a nosotros participando en nuestras iniciativas de voluntariado.
                        </p>
                        <p class="services-more"><a href="{{ site.baseurl }}/volunteering">Descubre Más</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="services-group">
                        <p class="services-icon"><i class="fa-solid fa-hand-holding-dollar fa-5x"></i></p>
                        <h4 class="services-title">Donaciones</h4>
                        <p class="services-body">Contribuye a nuestras causas y ayuda a apoyar nuestras misiones y
                            proyectos.</p>
                        <p class="services-more"><a href="{{ site.baseurl }}/donations">Descubre Más</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->

        </div>
    </section>
    <!-- End #services-section -->

{% include footer.html %}
{% include script.html %}
</body>

</html>
