<!doctype html>
<html lang="en">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body>

  <div class="container">

    <!-- banner image -->
    {% if page.banner%}
    <div class="row container-kamn">
      <img src="{{ site.baseurl }}{{ page.banner }}" class="blog-post" alt="Feature-img" align="right" width="100%">
    </div>
    {% endif %}

    <div class="row">

      <div class="col-md-3">
        <div class="sidebar wow animated fadeInLeft">
          <h4>Índice</h4>
          <ul class="list-group">
            {% for principle in site.data.principles %}
            <li class="list-group-item"><a href="{{ site.baseurl }}{{ principle.link }}">{{ principle.id }}. {{
                principle.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-9 wow animated fadeInRight">
        <header class="principle-header">
          <h1>{{ page.title }}</h1>
        </header>

        {{ content }}

{% if page.pdf %}
  <p class="mt-4">
    <a href="{{ site.baseurl }}{{ page.pdf }}" target="_blank" class="btn btn-custom-pdf">
      Leer más
    </a>
  </p>
{% endif %}

      </div>
    </div>

  </div>

</body>

{% include footer.html %}

</html>